/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: #6400ba !important;
  --toolbarbutton-icon-fill: #d9b9ff !important;
  --toolbar-field-color: #e9dfee !important;
  --tab-selected-textcolor: #d9b9ff !important;
  --toolbar-color: #e9dfee !important;
  --arrowpanel-color: #e9dfee !important;
  --arrowpanel-background: #231e28 !important;
  --sidebar-text-color: #e9dfee !important;
/*  --zen-main-browser-background: #16111b !important; */
}

.sidebar-placesTree {
  background-color: #231e28 !important;
}

#zen-workspaces-button {
  background-color: #231e28 !important;
}

#TabsToolbar {
  background-color: #16111b !important;
}

.urlbar-background {
  background-color: #231e28 !important;
}

.urlbar-input::selection {
  color: #460085 !important;
  background-color: #d9b9ff !important;
}

.urlbarView-url {
  color: #cdc3d1 !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: #d9b9ff
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #e8c6ff !important;
  --identity-icon-color: #e8c6ff !important;
}

.identity-color-turquoise {
  --identity-tab-color: #d9b9ff !important;
  --identity-icon-color: #d9b9ff !important;
}

.identity-color-green {
  --identity-tab-color: #86e08d !important;
  --identity-icon-color: #86e08d !important;
}

.identity-color-yellow {
  --identity-tab-color: #e7e897 !important;
  --identity-icon-color: #e7e897 !important;
}

.identity-color-orange {
  --identity-tab-color: #dbdb7b !important;
  --identity-icon-color: #dbdb7b !important;
}

.identity-color-red {
  --identity-tab-color: #e06c5f !important;
  --identity-icon-color: #e06c5f !important;
}

.identity-color-pink {
  --identity-tab-color: #8668c9 !important;
  --identity-icon-color: #8668c9 !important;
}

.identity-color-purple {
  --identity-tab-color: #a895bf !important;
  --identity-icon-color: #a895bf !important;
}

#zen-appcontent-navbar-container {
  background-color: #16111b !important;
}
